* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

/* ESTILOS GENERALES */
body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.level {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.wrapper {
    width: 100%;
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: 100px 200px 300px;
    gap: 1em;
    color: white;
}

.box {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
}

/* NIVEL 1 */
.a {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.b {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.c {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.d {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* NIVEL 2 */
/* ejemplo 3 */
.g {
    grid-column: 1/2;
    grid-row: 2/3;
}

.h {
    grid-column: 1/2;
    grid-row: 1/2;
}

.i {
    grid-column: 2/3;
    grid-row: 1/2;
}

.j {
    grid-column: 3/4;
    grid-row: 2/3;
}

.k {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* ejemplo 4 */
.m {
    grid-area: 1 / 2 /2 /3;
}

.n {
    grid-area: 2/2/3/3;
}

.o {
    grid-area: 2/3/3/4;
}

.p{
    grid-area: 1/1/2/2;
}

.q {
    grid-area: 2/1/3/2;
}

.r {
    grid-area: 1/3/2/4;
}

/* NIVEL 3 */
/* ejemplo 5 */
.s {
    grid-column: 1/3;
    grid-row: 1;
}

.t {
    grid-column: 1;
    grid-row: 2;
}

.u {
    grid-column: 3;
    grid-row: 1/3;
}

.v {
    grid-column: 2;
    grid-row: 2;
}

/* ejemplo 6 */
.w {
    grid-column: 1/3;
    grid-row: 1;
}

.x {
    grid-column: 3;
    grid-row: 1/3;
}

.y {
    grid-column: 1;
    grid-row: 2;
}

.z {
    grid-column: 2;
    grid-row: 2;
}

.aa {
    grid-column: 4/5;
    grid-row: 1/4;
}