:root {
  --main-color: #f9f4ee;
  --primary-color: #8b1e3f;
  --secondary-color: #d5afa1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--main-color);
}

/***** HEADER ******/
header {
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* navegación y logo */
.header--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1em;
}

.logo {
  height: 35px;
}

.logo img {
  height: 100%;
}

.header--menu span {
  color: var(--primary-color);
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav--item a {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: lowercase;
}

.nav--item a:hover {
  font-style: italic;
  cursor: pointer;
}

/* searchbar */
.searchbar {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.searchbar input {
  background-color: var(--main-color);
  padding: 5px 10px;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-family: "Manrope";
  font-size: 0.7em;
}

.searchbar input::placeholder {
  color: var(--primary-color);
  opacity: 0.5;
}

/*****************/

/*** MAIN INICIO ***/
/* slider */
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  scroll-snap-align: start;
}

/* fondo oscuro del slider */
.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 2;
  pointer-events: none;
}

/* slides */
.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

/* slide */
.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100vh;
  /* o el alto que quieras del slider */
  object-fit: cover;
  display: block;
}

/* navegación */
.slider input {
  display: none;
}

#slide1:checked~.slides {
  transform: translateX(0);
}

#slide2:checked~.slides {
  transform: translateX(-100%);
}

#slide3:checked~.slides {
  transform: translateX(-200%);
}

.navigation {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.navigation label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--main-color);
  cursor: pointer;
}

.navigation label:hover {
  background: var(--secondary-color);
}

/* overlay */
.overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 50%;
  color: var(--main-color);
  padding: 50px;
  z-index: 9;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  user-select: center;
  align-items: center;
}

.overlay h1 {
  font-size: 8em;
  font-weight: bold;
  text-transform: lowercase;
  font-style: oblique;
  letter-spacing: -15px;
}

.overlay p {
  font-size: 1.5em;
  text-align: center;
}

/* destacadas */
.destacadas {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  scroll-snap-align: start;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: lowercase;
  font-style: oblique;
  letter-spacing: -2.5px;
  color: var(--primary-color);
}

.destacadas ul {
  width: 550px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--primary-color);
  gap: 1rem;
}

.row--imagen {
  width: 100px;
  aspect-ratio: 1/1;
  display: block;
  overflow: hidden;
}

.row--imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

.row--content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.3rem;
}

.row--content h3 {
  color: var(--primary-color);
}

.row--content h4 {
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.row--content a {
  text-decoration: none;
  color: var(--primary-color);
}

/* news */
.news {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  scroll-snap-align: start;
}

.news--content {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.news--card {
  height: 100%;
}

.news--card a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news--card-img {
  height: 300px;
  overflow: hidden;
}

.news--card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news--card-content {
  padding: 1em 0;
  flex: 1;
}

.news--card h3 {
  color: var(--primary-color);
  letter-spacing: -1px;
}

.card-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.card-2 {
  grid-column: 3 / 4;
  grid-row: 1 /2;
}

.card-3 {
  grid-column: 4 / 5;
  grid-row: 1/2;
}

.card-4 {
  grid-column: 1 / 2;
  grid-row: 2 /3;
}

.card-5 {
  grid-column: 2 / 3;
  grid-row: 2 /3;
}

.card-6 {
  grid-column: 3 / 5;
  grid-row: 2 /3;
}

/******************/

/*** NOTICIA ***/
.article-overview {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  gap: 2em;
}

.overview--img {
  width: 80%;
  height: 100%;
  background-image: url("../img/articles/article1.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.overview--content {
  padding: 2em 0;
}

.overview--content h1 {
  font-size: 6vw;
  line-height: 1;
  letter-spacing: -3px;
  font-style: italic;
  color: var(--primary-color);
}

.overview--content h2 {
  font-style: normal;
  color: black;
}

.overview--content h3 {
  color: black;
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.article-content {
  padding: 5rem;
  text-align: justify;
  hyphens: auto;
  text-justify: smooth;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.article-content--imgs {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1em;
  height: 400px;
  overflow: hidden;
}

.article-content--imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

/***************/
/*** LOGIN ***/
.main-content {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
}

.login-wrapper,
.signup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: var(--main-color);
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  gap: 2em;
}

.signup-wrapper {
  min-width: 50%;
}

.login--form,
.signup--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  gap: 0.5em;
  padding: 15px 10px;
  /* border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color); */
}

.login--form label,
.signup--form label {
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: -1px;
  font-style: italic;
}

.login--form input,
.signup--form input {
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--main-color);
  padding: 10px;
  margin: 0 0 25px 0;
}

.login--form button,
.signup--form button {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--main-color);
}

.login-links {
  font-size: 0.8em;
  text-align: center;
}

.login-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

/* .label-wraper {} */