* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}

section {
    margin: 50px 0 0 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

input,
textarea {
    margin: 10px 0 10px 0;
    border: 1px solid pink;
}