* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

/* NIVEL 2 */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding: 10px;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: fuchsia;
    text-decoration: none;
}

.menu a:hover {
    font-style: italic;
}

.title {
    position: sticky;
    top: 100px;
    background: #000;
    padding: 10px;
    margin: 0 0 150px 0;
    color: fuchsia;
    text-align: center;
}

/* NIVEL 1 */
.contenedor {
    position: relative;
    background-color: red;
    height: 200px;
    margin: 100px auto;
    width: 80%;
}

.box {
    padding: 10px;
    width: 30px;
    height: 30px;
}

.relative-box {
    position: relative;
    background: lightblue;
    left: 20px;
    top: 10px;

}

.absolute-box {
    position: absolute;
    top: 0;
    right: 0;
    background: lightcoral;
    padding: 10px;
}
