* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

body {
    padding: 20px;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 20px;
}


button {
    padding: 15px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}