* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 300vh;
}

h1 {
    margin: 0 0 50px 0;
}

p {
    width: 50vw;
    text-align: center;
    position: relative;
}

.p1 {
    left: -25vw;
    top: -50px;
}

.p2 {
    left: 25vw;
    top: 50px;
}