* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

body {
    padding: 20px;
}

.nivel1, .nivel2 {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    margin: 20px 0;
}

.p1{
    color: black;
    background-color: white;
}

button {
    padding: 15px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.div1, .div2 {
    border: 1px solid black;
    margin: 20px 0;
}

.div1 {
    width: 20vw;
        height: 100px;
}

.div2 {
    width: 200px;
    height: 200px;
}