* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

body {
    padding: 20px;
}


ul{
    padding: 50px;
    border: 1px solid black;
}

.ul1 {
   
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.lista1 {
    padding: 50px;
    border: 1px solid black;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 20px;
}


button {
    padding: 15px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* CARD */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 20px;
    width: 100%;
}

.card {
    width: 35%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    margin:10px auto;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card--title {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.card p {
    margin-bottom: 15px;
    font-size: 0.95rem;
}

.card h4 {
    margin-top: 10px;
    font-size: 1.1rem;
}