* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

body section {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: pink;
    padding: 30px 50px;
    border-radius: 10px;
    margin: 20px 0;
    min-width: 30%;
    width: 50%;
}

/* FORM 1 */
.form input, .form textarea {
    margin: 0 0 15px 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.form textarea {
    resize: vertical;
}

.form button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: black;
    color: pink;
}