* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

body {
    padding: 20px;
}

.div1 {
    width: 300px;
    height: 300px;
    border: 1px solid yellow;
    transition: background-color 1s ease;
}

.animation1 {
    background-color: yellow;
    transition: background-color 1s ease;
}

.fuchsia {
    color: fuchsia;
}

.div3 {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.div3-animation {
    width: 200px;
    height: 200px;
}

.div4 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    display: none;
}

.display {
    display: block;
}