* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    text-align: center;
}

body section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

body section h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
}

.box:nth-of-type(1) {
    background-color: red;
    transition: width 2s ease-in-out;
}

.box:nth-of-type(1):hover {
    width: 200px;
}

.box:nth-of-type(2) {
    background-color: yellow;
    transition: height 1s;
}

.box:nth-of-type(2):hover {
    height: 200px;
}

.box:nth-of-type(3) {
    background-color: purple;
    transition: width 1s, height 2s;
}

.box:nth-of-type(3):hover {
    width: 200px;
    height: 200px;
}

.box:nth-of-type(4) {
    background-color: red;
    transition: background-color 3s, width 1s, height 1s;
}

.box:nth-of-type(4):hover {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}

.box:nth-of-type(5) {
    background-color: black;
    padding: 20px;
}

.box:nth-of-type(5) p {
    color: pink;
    font-size: 0.7em;
    display: none;
    transition: display;
}

.box:nth-of-type(5):hover p {
    display: block;
}