* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.box {
    width: 100px;
    height: 100px;
}

.box:nth-of-type(1) {
    background-color: red;
    /* transition: ; */
}

.box:nth-of-type(2) {
    background-color: yellow;
}

.box:nth-of-type(3) {
    background-color: purple;
}