* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}


/*** HEADER ***/
.header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* header logo */
.header__logo {
    width: 123px;
}

.header__logo img {
    width: 100%;
}

/* header nav */
.header__menu {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

/*** CUADRICULA ***/
.cuadricula {
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.25em;
}

.cuadricula__item {
    width: 100%;
    height: 100%;
}

.cuadricula__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cuadricula__item--1 {
    grid-column: 1 / 2;
    grid-row: 1/2;
}

.cuadricula__item--2 {
    grid-column: 2 /3;
    grid-row: 1/2;
}

.cuadricula__item--3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.cuadricula__item--4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.cuadricula__item--5 {
    grid-column: 5/7;
    grid-row: 1/3;
}

/** 6, 7 y 8 ya ocupan sus lugares entonces no se ponen? */
.cuadricula__item--9 {
    grid-column: 1/3;
    grid-row: 3/5;
}

.cuadricula__item--10 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.cuadricula__item--11 {
    grid-column: 3 / 4;
    grid-row: 3/4;
}

.cuadricula__item--12 {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
}

.cuadricula__item--13 {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
}

.cuadricula__item--14 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.cuadricula__item--15 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.cuadricula__item--16 {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
}

.cuadricula__item--17 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.cuadricula__item--18 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.cuadricula__item--19 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.cuadricula__item--20 {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
}

.cuadricula__item--21 {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
}

/*** FOOTER ***/

/* footer logo */
.footer {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2em 0;
}

.footer__logo {
    width: 100px;
}

.footer__logo img {
    width: 100%;
    object-fit: cover;
}

.footer__text {
    text-align: center;
    font-size: 0.7em;
    padding: 0 20%;
}

.footer__rights {
    text-align: center;
        font-size: 0.5em;
        padding: 0 20%;
}